<% form_for @formula do |f| %>
  <fieldset>
    <legend>Formula Details</legend>
    <%= f.error_messages %>
    <%= f.label :category_id %>
    <%= f.text_field :category_id %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :buffer %>
    <%= f.text_field :buffer %>
  </fieldset>
  <div class="buttons"><%= f.submit "Submit", :class => "button" %></div>
<% end %>
