<div class="formula_component">
<% pf.fields_for :formula_components, formula_component do |fc| %>
  <fieldset>
    <legend>Component</legend>
    <%= fc.label :commodity %>
    <%= fc.collection_select(:commodity_id,@commodities,'id','name') %>
    <%= fc.label :weight %>
    <%= fc.text_field :weight %>
    <%= fc.label :billing_month_difference, "Months before Billing Date" %>
    <%= fc.text_field :billing_month_difference %>
    <%= fc.label :tender_month_difference, "Months before Tender Date" %>
    <%= fc.text_field :tender_month_difference %>
    <%= link_to_function "remove", "$(this).up('.formula_component').remove()" %>
  </fieldset>
<% end %>
</div>