<%= javascript_include_tag :defaults  %>
<%= form_for @formula do |f| %>
  <fieldset>
    <legend>Formula Details</legend>
    <%= f.error_messages %>
    <%= f.label :category_id %>
    <%= f.collection_select(:category_id,Category.all,'id','name') %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :buffer %>
    <%= f.text_field :buffer %>
  </fieldset>
  <% @commodities = Commodity.all %>
  <div id="formula_components">
    <%= f.fields_for :formula_components do |child_form| %>
      <fieldset>
        <legend>Component</legend>
        <%= child_form.label :commodity %>
        <%= child_form.collection_select(:commodity_id,@commodities,'id','name') %>
        <%= child_form.label :weight %>
        <%= child_form.text_field :weight %>
        <%= child_form.label :billing_month_difference, "Months before Billing Date" %>
        <%= child_form.text_field :billing_month_difference %>
        <%= child_form.label :tender_month_difference, "Months before Tender Date" %>
        <%= child_form.text_field :tender_month_difference %>
        <% unless child_form.object.new_record? %>
          <%= child_form.check_box '_destroy' %>
          <%= child_form.label '_destroy', 'Remove' %>
        <% end %>
      </fieldset>
    <% end %>
  </div>
  <p>
    <%= add_fc_link "Add a Component", f %>
  </p>
  <div class="buttons"><%= f.submit "Submit", :class => "button" %></div>
<% end %>
