<% title "IEEMA Price Variation Calculator" %>

<% if @result%>
  <p>
    Result: <strong><%= @result %>% </strong>
  </p>
  <p>
    Formula<strong> <%= @formula.name %> under <%= @formula.category.name %> (<code><%= @formula.description %></code>)</strong>
   
  </p>
  <p>
    <strong>Result Details</strong>
    <code><%= result_descriptive(@formula) %></code>
  </p>
<% end %>
