<% title "IEEMA Price Variation Calculator" %>

<% if @result%>
  <p>
    Result: <strong><%= @result %>% </strong>
  </p>
  <p>
    Formula<strong> <%= @formula.name %> under <%= @formula.category.name %> (<code><%= @formula.description %></code>)</strong>
   
  </p>
  <p>
    <strong>Result Details</strong>
    <code><%= result_descriptive(@formula) %></code>
  </p>
<% else %>
  <% Formula.all.group_by{|a|a.category}.each do |c,vals| %>
    Category <%= c.name %>
    <ul class="pricelist formulalist">
      <% vals.each do |f| %>
        <li class="<%= cycle(:odd,:even) %>">
          <div class="dateblock"><%= link_to(f.name,formula_path(f)) %></div>
          <div class="priceblock"><code><%= f.description %></code></div>
        </li>
      <% end %>
    </ul>
    <% reset_cycle %>
  <% end %>
<% end %>
