<tr class="<%= cycle(:odd, :even) %>">
  <th scope="row"><%= commodity_counter + 1 %></th>
  <th scope="row"><%= link_to(commodity.name,commodity_path(commodity)) %></th>
  <td><code><%= commodity.code %></code></td>
  <% @all_commodities.each do |cp| %>
    <td><%= commodity.commodity_prices.price_for(cp.price_date).last.try(:price) %></td>
  <% end %>
  <td></td>
</tr>
