= form_for @commodity do |f|
  %fieldset
    %legend Commodity Details
    = f.error_messages
    = f.label :name
    = f.text_field :name
    = f.label :code
    = f.text_field :code
  .buttons= f.submit "Submit", :class => "button"
