<% title "Commodity: #{@commodity.name} (#{@commodity.code})" %>

<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<%= @graph %>

<ul class="pricelist">
  <% @commodity.commodity_prices.reverse.each do |cp| %>
    <li class="<%= cycle(:odd,:even) %>">
      <div class="dateblock">
        <%= link_to(cp.price_date.to_s(:short_month_and_year),edit_commodity_price_path(cp)) %>
      </div>
      <div class="priceblock">
        <%= cp.price %>
      </div>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "Edit", edit_commodity_path(@commodity) %> |
  <%= link_to "Destroy", @commodity, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to("New Commodity Price", new_commodity_price_path) %> |
  <%= link_to "View All", commodities_path %>
</p>
