- title "Commodity Price"
%p
  %strong Commodity:
  = @commodity_price.commodity.name
%p
  %strong Price Date:
  = @commodity_price.price_date_formatted
%p
  %strong Price:
  = @commodity_price.price
%p
  = link_to "Edit", edit_commodity_price_path(@commodity_price)
  |
  = link_to "Destroy", @commodity_price, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", commodity_prices_path
