<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
    <%= javascript_include_tag "jquery-1.3.2.min", "application"  %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <span id="title">IEEMA Price Variation Calculator</span>
        <ul class="topnav">
          <li><%= link_to("Home",root_path) %></li>
          <li>
            <%= link_to("Commodities",commodities_path) %>
            <ul class="subnav">
              <%= render :partial => 'commodities/commodity_sidebar', :collection => Commodity.all %>
            </ul>
          </li>
          <%= render Category.all(:include => :formulas) %>
          <li><%= link_to("Commodity Prices",commodity_prices_path) %></li>
          <li><%= link_to("Commodity Prices Excel","/ieema.xls") %></li>
          <li><%= link_to("New Formula",new_formula_path) %></li>
        </ul>
      </div>
      <div id="content" class="clearfix">
        <div id="side-b">
          <%- if show_title? -%>
            <h2><%=h yield(:title) %></h2>
          <%- end -%>
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
          <% form_tag(formulas_path, :method => :get, :id => 'calculator') do %>
            <fieldset>
              <legend>Formula Calculation</legend>
              <label for="id">Formula</label>
              <%= select_tag(:id, option_groups_from_collection_for_select(Category.all,'formulas','name','id', 'name',params[:id].try(:to_i))) %>
              <label for="billing_date">Billing Month &amp; Year</label><%= text_field_tag(:billing_date,params[:billing_date]) %>
              <label for="tender_date">Tender Month &amp; Year</label><%= text_field_tag(:tender_date,params[:tender_date]) %>
            </fieldset>
            <div class="buttons"><%= submit_tag("Calculate", {:class => "button"})  %></div>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <div id="footer">
        <div id="hosting"><a target="blank" class="rise_logo" href="http://risingsuntech.net"><img src="/images/poweredby.gif" alt="Powered by Rising Sun"/></a></div>
        <div id="credits">Rising Sun Technologies &copy; Copyright 2009</div>
      </div>
    </div>
  </body>
</html>
